* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Whitney", sans-serif;
}

/*****************HEADER************/

.debug {
  height: 40px;
}

.logo {
  padding-left: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.login {
  padding-right: 5px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.links {
  width: 720px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  color: white;
}

header {
  height: 80px;
  background-color: rgb(49, 96, 224)
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
}


header .container {
  height: 100%;
}

header .navbar .row {
  height: 100%;
  align-items: center;
  justify-content: center;
}

/**************JUMBO*************/

.blue-container {
  min-height: 500px;
  background-image: url(./img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.violet-box {
  width: 900px;
}

h1 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}

.header-p {
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bottoni {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.jumbo-button-white {
  background-color: white;
  color: black;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.jumbo-button-black {
  background-color: rgb(35, 41, 44);
  color: white;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  font-size: 20px;
}


/*****************MAIN******************/

.white-container {
  min-height: 600px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frog {
  background-image: url(./img/item1.svg);
  background-repeat: no-repeat;
}

.mage {
  background-image: url(./img/item2.svg);
  background-repeat: no-repeat;
}

.book {
  background-image: url(./img/item3.svg);
  background-repeat: no-repeat;
}

.blue-box {
  width: 720px;
  min-height: 500px;
}

.pink-box {
  width: 480px;
  min-height: 500px;
}

h2 {
  font-size: 50px;
  color: rgb(41, 45, 46);
  padding-left: 30px;
}

p {
  font-size: 30px;
  color: rgb(41, 45, 46);
  text-align: left;
  padding-top: 30px;
  padding-left: 30px;
}

.grey-container {
  min-height: 600px;
  background-color: rgb(246, 246, 246);
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-grey-container {
  min-height: 1000px;
  background-color: rgb(246, 246, 246);
  display: flex;
  align-items: center;
  justify-content: center;
}

.green-box {
  width: 1200px;
  min-height: 900px;
}

h3 {
  font-size: 50px;
  color: rgb(41, 45, 46);
  text-align: center;
}

p .center {
  text-align: center;
  font-size: 30px;
  color: rgb(41, 45, 46);
}

.video-cam {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h4 {
  text-align: center;
  color: rgb(41, 45, 46);
  font-size: 40px;
}

.main-button {
  background-color: rgb(112, 132, 214);
  color: white;
  height: 50px;
  width: 200px;
  border-radius: 20px;
}

/******************FOOTER*****************/

.black-container {
  min-height: 630px;
  background-color: rgb(35, 39, 42);
  display: flex;
  align-items: center;
  justify-content: center;
}

.salmon-box {
  min-height: 580px;
  width: 360px;
}

.acqua-box {
  min-height: 580px;
  width: 210px;
  color: rgb(112, 132, 214);
  text-align: center;
  font-size: 25px;
}


.little-black-container {
  min-height: 110px;
  background-color: rgb(35, 39, 42);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.celeste-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  width: 1200px;
}

hr {
  color: white;
  background-color: white;
  height: 1px;
}

.end-logo {
  min-height: 35px;
  width: 65px;
  align-items: center;
  justify-content: center;
}

.end-button {
  color: white;
  min-height: 45px;
  width: 85px;
  background-color: rgb(143, 163, 233);
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

h5 {
  color: rgb(112, 132, 214);
  text-align: left;
  padding: 20px;
  font-size: 40px;
}

.italiano {
  color: white;
  padding: 0;
  padding-left: 5px;
}

.prova {
  display: flex;
}

.icons {
  color: white;
  padding-top: 20px;
}

i {
  padding: 10px;
  font-size: 30px;
}