* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Whitney", sans-serif;
}

/*****************HEADER************/

.debug {
  height: 40px;
}

.logo {
  padding-left: 5px;
  width: 240px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.login {
  padding-right: 5px;
  width: 240px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.links {
  width: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  height: 80px;
  background-color: rgb(49, 96, 224)
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
}


header .container {
  height: 100%;
}

header .navbar .row {
  height: 100%;
  align-items: center;
  justify-content: center;
}

/**************JUMBO*************/

.blue-container {
  min-height: 500px;
  background-image: url(./img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.violet-box {
  min-height: 400px;
  width: 900px;
  border: solid black;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

h1 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-p {
  color: rgb(41, 45, 46);
  display: flex;
  text-align: center;
  justify-content: center;
}

/*****************MAIN******************/

.white-container {
  min-height: 600px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frog {
  background-image: url(./img/item1.svg);
  background-repeat: no-repeat;
}

.mage {
  background-image: url(./img/item2.svg);
  background-repeat: no-repeat;
}

.book {
  background-image: url(./img/item3.svg);
  background-repeat: no-repeat;
}

.blue-box {
  width: 720px;
  min-height: 500px;
}

.pink-box {
  width: 480px;
  min-height: 500px;
}

h2 {
  font-size: 50px;
  color: rgb(41, 45, 46);
  padding-left: 30px;
}

p {
  font-size: 30px;
  color: rgb(41, 45, 46);
  text-align: left;
  padding-top: 30px;
  padding-left: 30px;
}

.grey-container {
  min-height: 600px;
  background-color: rgb(246, 246, 246);
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-grey-container {
  min-height: 1000px;
  background-color: rgb(246, 246, 246);
  display: flex;
  align-items: center;
  justify-content: center;
}

.green-box {
  width: 1200px;
  min-height: 900px;
}

h3 {
  font-size: 50px;
  color: rgb(41, 45, 46);
  text-align: center;
}

p .center {
  text-align: center;
  font-size: 30px;
  color: rgb(41, 45, 46);
}

.video-cam {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h4 {
  text-align: center;
  color: rgb(41, 45, 46);
  font-size: 40px;
}

.main-button {}

/******************FOOTER*****************/

.black-container {
  min-height: 630px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black;
}

.salmon-box {
  min-height: 580px;
  width: 360px;
  background-color: rgb(240, 129, 128);
  border: solid white;
}

.acqua-box {
  min-height: 580px;
  width: 210px;
  background-color: rgb(32, 179, 170);
  border: solid white;
}

hr {
  color: white;
  background-color: white;
  border: 0;
  height: 1px;
}

.little-black-container {
  min-height: 110px;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.celeste-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  width: 1200px;
  background-color: rgb(127, 255, 212);
}

.end-logo {
  min-height: 35px;
  width: 65px;
  border: solid black;
  background-color: rgb(255, 192, 202);
  align-items: center;
  justify-content: center;
}

.end-button {
  min-height: 35px;
  width: 65px;
  border: solid black;
  background-color: rgb(255, 192, 202);
  align-items: center;
  justify-content: center;
}